{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}| Hospital
    </title>
    <link rel="stylesheet" href="{% static 'css/page-style.css' %}" />

    <script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  </head>

  <body>
    {% for group in request.user.groups.all %}
      {% if group.name == 'Doctor' %}
        {% include 'headers/doctor.html' %}
      {% elif group.name == 'Patient' %}
        {% include 'headers/patient.html' %}
      {% elif group.name == 'Admin' %}
        {% include 'headers/admin.html' %}
      {% elif group.name == 'Accountant' %}
        {% include 'headers/accountant.html' %}
      {% endif %}
    {% endfor %}

    {% block content %}

    {% endblock %}

    <footer class="footer">
      <p>&copy;Fsmvu 2023 Web Design Project</p>
    </footer>
  </body>
</html>
