{% extends "management_base.html" %}
{{form}}

{{user}}
{% load static %}
{% block title %} Edit Doctor {% endblock %}
{% block content %}
<!--departmentn disable-->
<form method="post">  <section id="ozel-sayfa">
    {% csrf_token %}

    <h2 style="margin-left: 13%;">Edit Doctor</h2>
    <input data-val="true" data-val-number="The field ID must be a number." data-val-required="ID alanı gereklidir." id="ID" name="ID" type="hidden" value="1">
    <input id="UserId" name="UserId" type="hidden" value="{{user.id}}">
    

    <div class="container">

        <div class="kisisel-bilgiler">
            <ul>
                <li>
                    <span>Name:</span>    <input class="form-control text-box single-line" data-val="true" data-val-required="Name is required" id="Name" name="Name" type="text" value="{{user.first_name}}">
                </li>
                <li>
                    <span>Surname:</span>  <input class="form-control text-box single-line" data-val="true" data-val-required="Surname is required" id="Surname" name="Surname" type="text" value="{{user.last_name}}">
                 </li>
                <li>
                    <span>Date of Birth:</span>     <input class="form-control text-box single-line" id="dob" max="2024-04-04" name="DateOfBirth" type="date" value="{{form.DateOfBirth.value|date:"Y-m-d"}}">
                 </li>
                <li>
                    <span>Mobile Number:</span>     <input class="form-control text-box single-line" data-val="true" data-val-required="Phone number is required" id="Phone" name="Phone" type="text" value="{{form.Phone.value}}">
               
                </li>
                <li>
                    <span>E-mail Address:</span>   <input class="form-control text-box single-line" data-val="true" data-val-regex="Email alanı &#39;^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$&#39; normal ifadesi ile eşleşmelidir." data-val-regex-pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" data-val-required="Email alanı gereklidir." id="Email" name="Email" type="text" value="{{user.email}}">
                 </li>
                <li>
                    <span>Department: </span>   {{form.Department}}
                 </li>
                <li> <button>Send</button></li>
            </ul>
        </div>
        <div class="hesap-bilgileri">

            <ul>
                <li>
                    <span>Password:</span> <input type="password" name="password" value="">
                    
                </li>
                <li><span>Password Confirm:</span> <input type="password" name="passwordconfirm" value=""></li>
                <li>
                    <span>Gender</span>
                  {{form.Gender}}
                 </li>

                <li>
                    <span>Languages:</span>    <input class="form-control text-box single-line" id="Languages" name="Languages" type="text" value="{{form.Languages.value}}">
                 </li>
                <li>
                    <span>Specializations:</span>    <input class="form-control text-box single-line" id="Specializations" name="Specializations" type="text" value="{{form.Specializations.value}}">
                 </li>
                <li>
                    <span>Experience:</span>    <input class="form-control text-box single-line" id="Experience" name="Experience" type="text" value="{{form.Experience.value}}">
                 </li>

                <li>
                    <span>Salary:</span>

                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Salary must be a number." data-val-required="Salary is required" disabled="" id="Salary" name="Salary" type="text" value="{{form.Salary.value}}">

                  </li>

            </ul>
        </div>


    </div>

</section>
</form><script>$('form').submit(function (e) {
    $(':disabled').each(function (e) {
        $(this).removeAttr('disabled');
    })
});
</script>



{%endblock%}