{% extends 'management_base.html' %}

{% load static %}
{% block title %}
  Doctors
{% endblock %}
{% block content %}
  <section id="doktor-yonetimi">
    <div class="container">
      <h2 style="display:inline">Doctor Management</h2>
      {% for group in request.user.groups.all %}
        {% if group.name == 'Admin' %}
          <div class="addButton">
            <a class="addButtonInside" href="/Doctors/Create">Add Doctor</a>
          </div>
        {% endif %}
      {% endfor %}

      <div class="bosluk"></div>
      {% if dataset.count == 0 %}
        <p>No record</p>
      {% else %}
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Name</div>
            <div class="col col-2">Department Name</div>

            <!-- Admin tarafı -->
            <div class="col col-3">Specializations</div>

            <!-- Accountant tarafı -->
            <div class="col col-3">Salary</div>

            <div class="col col-4">Actions</div>
          </li>
          {% for data in dataset %}
            <li class="table-row">
              <div class="col col-1 nameSurname" data-label="Job Id">{{ data.User.first_name }} {{ data.User.last_name }}</div>
              <div class="col col-2" data-label="Doctor Name">{{ data.Department.Name }}</div>
              <div class="col col-3">{{ data.Specializations }}</div>
              <div class="col col-3">{{ data.Salary }}</div>
              <div class="col col-4" data-label="Operation">
                {% for group in request.user.groups.all %}
                  {% if group.name == 'Accountant' %}
                    <a class="changeSalary" href="/Doctors/ChangeSalary/{{ data.ID }}/">Change Salary</a> |
                    <a class="getDetails" href="/Doctors/Details/{{ data.ID }}/">Details</a>
                  {% else %}
                    <a href="/Doctors/Edit/{{ data.ID }}">Edit</a> |
                    <a class="getDetails" href="/Doctors/Details/{{ data.ID }}/">Details</a>
                    | <a class="delete" href="/Doctors/Delete/{{ data.ID }}/">Delete</a>
                  {% endif %}
                {% endfor %}
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>

  <div id="ex1" class="modal" style="max-width:initial">
    <section id="ozel-sayfa" style="padding:0;margin-bottom:0">
      <div class="container" style="max-width:initial">
        <div class="kisisel-bilgiler">
          <h3>Personal Information</h3>
          <ul>
            <li class="docNameSurname">
              <span>Name Surname:</span>
            </li>
            <li class="docDoB">
              <span>Date of Birth:</span>
            </li>
            <li class="docNumber">
              <span>Phone Number:</span>
            </li>
            <li class="docEmail">
              <span>E-Mail Address:</span>
            </li>
            <li class="docGender">
              <span>Gender:</span>
            </li>
          </ul>
        </div>
        <div class="hesap-bilgileri">
          <h3>-</h3>
          <ul>
            <li class="docExperience">
              <span>Experience:</span>
            </li>
            <li class="docSpecializations">
              <span>Specializations:</span>
            </li>
            <li class="docLangs">
              <span>Langs:</span>
            </li>
            <li class="docDept">
              <span>Department:</span>
            </li>
            <li class="docSalary">
              <span>Salary:</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <script>
    $('.changeSalary').click(function (event) {
      //linke click eventi kazandırma
      event.preventDefault()
      let salaryDName = $(event.target).parent().siblings('.nameSurname').text()
      let oldsalary = $(event.target).parent().siblings('.salary').text()
    
      let salary = prompt('Please enter new salary for ' + salaryDName, oldsalary)
      if (salary != null && salary != '') {
        if (isNaN(salary)) {
          alert('Please enter a number')
        } else if (salary < 0) {
          alert('Salary must be greater than 0')
        } else {
          $.ajax({
            url: this.href,
            data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              newSalary: salary
            },
            type: 'POST',
            success: function (result) {
              location.reload()
            }
          })
        }
      }
    })
    
    $('.delete').click(function (event) {
      //linke click eventi kazandırma
      event.preventDefault()
      if (confirm('Do you sure delete this doctor')) {
        $.ajax({
          url: this.href,
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          type: 'POST',
          success: function (result) {
            location.reload()
          }
        })
      }
    })
    
    $('.getDetails').click(function (event) {
      //linke click eventi kazandırma
      event.preventDefault()
      this.blur()
      $.get(this.href, function (json) {
        const doctor = json
        $('li.docNameSurname').html('<span>Name Surname:</span> ' + doctor[1].first_name + ' ' + doctor[1].last_name)
        $('li.docDoB').html('<span>Date of Birth:</span> ' + new Date(doctor[0].DateOfBirth).toLocaleDateString())
        $('li.docNumber').html('<span>Phone Number:</span> ' + doctor[0].Phone)
        $('li.docEmail').html('<span>Email:</span> ' + doctor[1].email)
        $('li.docGender').html('<span>Gender:</span> ' + (doctor[0].Gender ? 'Male' : 'Female'))
        $('li.docExperience').html('<span>Experience:</span> ' + doctor[0].Experience)
        $('li.docSpecializations').html('<span>Specializations:</span> ' + doctor[0].Specializations)
        $('li.docLangs').html('<span>Languages:</span> ' + doctor[0].Languages)
        $('li.docSalary').html('<span>Salary:</span> ' + doctor[0].Salary)
        $.get('/Departments/getDeptName/' + doctor[0].Department_id, function (department) {
          $('li.docDept').html('<span>Department:</span> ' + department)
          $('#ex1').modal()
        })
      })
    })
  </script>
{% endblock %}
