{% extends 'management_base.html' %}
{{ form }}

{% load static %}
{% block title %}
  Create Admin
{% endblock %}
{% block content %}
  <form method="post">
    <section id="ozel-sayfa">
      {% csrf_token %}
      {{ message }}
      <h2 style="margin-left: 13%;">Create Admin</h2>
      <input id="UserId" name="UserId" type="hidden" value="{{ user.id }}" />

      <div class="container">
        <div class="kisisel-bilgiler">
          <ul>
            <li>
              <span>Name:</span> <input required class="form-control text-box single-line" data-val="true" data-val-required="Name is required" id="Name" name="Name" type="text" value="" />
            </li>
            <li>
              <span>Surname:</span> <input required class="form-control text-box single-line" data-val="true" data-val-required="Surname is required" id="Surname" name="Surname" type="text" value="" />
            </li>
            <li>
              <span>Date of Birth:</span> <input required class="form-control text-box single-line" id="dob" max="{% now 'Y-m-d' %}" name="DateOfBirth" type="date" value="" />
            </li>
            <li>
              <span>Mobile Number:</span> <input required class="form-control text-box single-line" data-val="true" data-val-required="Phone number is required" id="Phone" name="Phone" type="text" value="" />
            </li>
            <li>
              <span>E-mail Address:</span> <input required class="form-control text-box single-line" id="Email" name="Email" type="text" value="" />
            </li>

            <li>
              <button>Send</button>
            </li>
          </ul>
        </div>
        <div class="hesap-bilgileri">
          <ul>
            <li>
              <span>Password:</span> <input type="password" name="password" value="" required />
            </li>
            <li>
              <span>Password Confirm:</span> <input type="password" name="passwordconfirm" value="" required />
            </li>
            <li>
              <span>Gender</span>
              {{ form.Gender }}
            </li>
          </ul>
        </div>
      </div>
    </section>
  </form>
  <script>
    $('form').submit(function (e) {
      $(':disabled').each(function (e) {
        $(this).removeAttr('disabled')
      })
    })
  </script>
{% endblock %}
