{% extends 'management_base.html' %}

{% load static %}
{% block title %}
  Patients
{% endblock %}
{% block content %}
  <section id="hasta-yonetimi">
    <div class="container">
      <h2>Patients</h2>

      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Name</div>
          <div class="col col-2">City</div>
          <div class="col col-3">Email</div>
          <div class="col col-4">Actions</div>
        </li>
        {% for data in dataset %}
          <li class="table-row">
            <div class="col col-1" data-label="Job Id">{{ data.User.first_name }} {{ data.User.last_name }}</div>
            <div class="col col-2" data-label="City">{{ data.get_Blood_Group_display }}</div>
            <div class="col col-3" data-label="Email">{{ data.User.email }}</div>
            <div class="col col-4" data-label="Operation">
              <a href="/Patients/Edit/{{ data.ID }}/">Edit</a> |
              <a class="getDetails" href="/Patients/Details/{{ data.ID }}">Details</a> |
              <a class="delete" href="/Patients/Delete/{{ data.ID }}">Delete</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <div id="ex1" class="modal" style="max-width:initial">
    <section id="ozel-sayfa" style="padding:0;margin-bottom:0">
      <div class="container" style="max-width:initial">
        <div class="kisisel-bilgiler">
          <h3>Personal Information</h3>
          <ul>
            <li class="patNameSurname">
              <span>Name Surname:</span>
            </li>
            <li class="patDoB">
              <span>Date of Birth:</span>
            </li>
            <li class="patNumber">
              <span>Phone Number:</span>
            </li>
            <li class="patEmail">
              <span>E-Mail Address:</span>
            </li>
          </ul>
        </div>
        <div class="hesap-bilgileri">
          <h3>-</h3>
          <ul>
            <li class="patGender">
              <span>Gender:</span>
            </li>
            <li class="patBlood">
              <span>Blood Group:</span>
            </li>
            <li class="patAddress">
              <span>Address:</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <script>
    $('.delete').click(function (event) {
      //linke click eventi kazandırma
      event.preventDefault()
      if (confirm('Do you sure delete this Patient')) {
        $.ajax({
          url: this.href,
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          type: 'POST',
          success: function (result) {
            location.reload()
          }
        })
      }
    })
    //hasta tarafı
    $('.getDetails').click(function (event) {
      //linke click eventi kazandırma
      event.preventDefault()
      this.blur()
      $.get(this.href, function (json) {
        const patient = json[0]
        $('li.patNameSurname').html('<span>Name Surname:</span> ' + patient.Name + ' ' + patient.Surname)
        $('li.patDoB').html('<span>Date of Birth:</span> ' + new Date(patient.DateOfBirth).toLocaleDateString())
        $('li.patNumber').html('<span>Phone Number:</span> ' + patient.Phone)
        $('li.patEmail').html('<span>Email:</span> ' + patient.Email)
        $('li.patGender').html('<span>Gender:</span> ' + (patient.Gender ? 'Male' : 'Female'))
        $('li.patBlood').html('<span>Blood Group:</span> ' + patient.Blood_Group)
        $('li.patAddress').html('<span>Address:</span> ' + patient.Address)
    
        $('#ex1').modal()
      })
    })
    
    //hasta tarafı
  </script>
{% endblock %}
