{% extends 'management_base.html' %}

{% load static %}
{% block title %}
  Edit Department
{% endblock %}
{% block content %}
  <form method="post">
    <section id="ozel-sayfa">
      <h2 style="margin-left: 13%;">Edit Department</h2>

      <div class="container" style="display:block">
        <div class="kisisel-bilgiler" style="width:initial">
          <ul>
            <!--  <li>
                    <span>Name:</span>    <input class="form-control text-box single-line" data-val="true" data-val-required="Department Name alanı gereklidir." id="Name" name="Name" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </li>
                <li>
                    <span>Price:</span>    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Price Per Unit must be a number." data-val-required="Price Per Unit alanı gereklidir." id="PriceUnit" name="PriceUnit" type="text" value="">
                    <span class="field-validation-valid text-danger" data-valmsg-for="PriceUnit" data-valmsg-replace="true"></span>
                </li> -->
            <!-- Security token by Django -->
            {% csrf_token %}

            <!-- form as paragraph -->
            {{ form.as_p }}
            <li>
                <input type="submit" value="Update">
            </li>
          </ul>
        </div>
      </div>
    </section>
  </form>
{% endblock %}
