{% extends 'management_base.html' %}

{% load static %}
{% block title %}
  Departments
{% endblock %}
{% block content %}
  <section id="doktor-yonetimi">
    <div class="container">
      <h2 style="display:inline">Departments</h2>
      <div class="addButton">
        <a class="addButtonInside" href="/Departments/Create">Add Department</a>
      </div>
      <div class="bosluk"></div>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Department Name</div>
          <div class="col col-4">Actions</div>
        </li>
        {% for data in dataset %}
   
        <li class="table-row">
            <div class="col col-1" data-label="Job Id"> {{ data.Name }}</div>
  
            <div class="col col-4" data-label="Operation">
              <a href="/Departments/Edit/{{data.ID}}">Edit</a> | <a class="delete"href="/Departments/Delete/{{data.ID}}/">Delete</a>
            </div>
          </li>

     
        {% endfor %}
      
     
      </ul>
    </div>
  </section>

  

<script> 
    
   $('.delete').click(function (event) {//linke click eventi kazandırma
       event.preventDefault();
       if (confirm("Do you sure delete this department")) {
           $.ajax({
               url: this.href,
               data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
               },
               type: 'POST',
               success: function (result) {
                   location.reload();
               }
           });
       }

   });
    

</script>

{% endblock %}
