{% extends 'management_base.html' %}
{% load static %}
{{ data }}
{% block title %}
  Patient
{% endblock %}
{% block content %}
  <section id="ozel-sayfa">
    <h2 style="margin-left: 13%;">My Page</h2>
    <div class="container">
      <div class="kisisel-bilgiler">
        <h3>Personal Information</h3>
        <ul>
          <li>
            <span>Name Surname:</span> {{ request.user.first_name }} {{ request.user.last_name }}
          </li>
          <li>
            <span>Date of Birth:</span> {{ data.DateOfBirth }}
          </li>
          <li>
            <span>Phone Number:</span> {{ data.Phone }}
          </li>
          <li>
            <span>E-Mail Address:</span> {{ request.user.email }}
          </li>
        </ul>
      </div>
      <div class="hesap-bilgileri">
        <h3>-</h3>
        <ul>
          <li>
            <span>Blood Group:</span> {{ data.Blood_Group }}
          </li>
          <li>
            <span>Address:</span> {{ data.Address }}
          </li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
