{% extends "management_base.html" %}

{% load static %}
{% block title %} Prescription {% endblock %}
{% block content %}

<section id="randevu-al-container">
    <h2 class="container-header">Create Prescription</h2>
    <div class="randevu-al">
<form action="https://localhost:44328/Prescriptions/Create/1" method="post"><input name="__RequestVerificationToken" type="hidden" value="Z0amHysroiRoNEvrupUmXqmrxCcgY-pAH2ltPiW2j7fwQa42HkCVe5Ys--zyUf0ZMMDSmc9KwszqpUe0240wYkiCB2RqWRCKD4G_PPpOwedIle1vkL1WO83PZtefE49Rk63c16V-ZHEhx3Ht_Cnp9w2">            <div class="form-group">
                <label for="randevu-sebebi"> Advice</label>
                <input class="text-box single-line" id="Advice" name="Advice" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Advice" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="randevu-sebebi"> Medicinde</label>
                <input class="text-box single-line" id="Medicinde" name="Medicinde" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Medicinde" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="randevu-sebebi"> Remark</label>
                <input class="text-box single-line" id="Remark" name="Remark" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Remark" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="randevu-sebebi">
                   Appointment   </label>
                <select class="form-control" disabled="disabled" id="Appointment_ID" name="Appointment_ID"><option value="1">gene kontrol</option>
</select>
                <span class="field-validation-valid text-danger" data-valmsg-for="Advice" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <input id="btn" type="submit" value="Create Precription">
            </div>
</form>    </div>
</section>

<script>
    $('form').submit(function (e) {
        $(':disabled').each(function (e) {
            $(this).removeAttr('disabled');
        })
    });
</script>




{%endblock%}