{% extends 'management_base.html' %}
{{ form }}
{% load static %}
{% block title %}
  Edit Prescription
{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <section id="ozel-sayfa">
      <h2 style="margin-left: 13%;">Edit Prescription</h2>
      {{ form.non_field_errors }}
      <div class="container" style="display:block">
        <div class="kisisel-bilgiler" style="width:initial">
          <ul>
            {% for field in form %}
              <li>
                {{ field.errors }}
                {{ field.label_tag }}

                {{ field }}

                {% if field.help_text %}
                  <p class="help" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</p>
                {% endif %}
              </li>
            {% endfor %}
            <li>
              <button type="submit">Send</button>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </form>
{% endblock %}
