{% extends 'management_base.html' %}

{% load static %}
{% block title %}
  Appointment
{% endblock %}
{% block content %}
  <section id="randevu-al-container">
    <h2 class="container-header">Create Appointment</h2>
    <div class="randevu-al">
      <form method="post">
        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}
        <input type="hidden" name="PatientID" value="1" />

        <div class="form-group">
          <input id="btn" type="submit" value="Create Appointment" />
        </div>
      </form>
    </div>
  </section>
{% endblock %}
