{% extends 'management_base.html' %}
{{ form }}
{% load static %}
{% block title %}
  Create Appointment
{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <section id="ozel-sayfa">
      <h2 style="margin-left: 13%;">Create Appointment</h2>
      {{ form.non_field_errors }}
      <div class="container" style="display:block">
        <div class="kisisel-bilgiler" style="width:initial">
          <ul>
            {% for field in form %}
              {% if field.field.widget.is_hidden %}
                <input type="hidden" name="PatientID" value="{{ request.user.id }}" id="id_PatientID" />
              {% else %}
                <li>
                  {{ field.errors }}
                  {{ field.label_tag }}

                  {{ field }}

                  {% if field.help_text %}
                    <p class="help" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</p>
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
            <li>
              <button type="submit">Send</button>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </form>
{% endblock %}
