{% extends 'management_base.html' %}

{% load static %}
{% block title %}
  Edit Appointment
{% endblock %}
{% block content %}
  <section id="randevu-al-container">
    <h2 class="container-header">Edit Appointment</h2>
    <div class="randevu-al">
      <form method="post">
        <div class="form-group">
          <!-- DOKTORUN GÖRECEĞİ KISIM -->
          <label for="doktor-id">Patient:</label>
          <label for="Patient_One">Patient One</label>
          <span class="field-validation-valid text-danger" data-valmsg-for="Patient_ID" data-valmsg-replace="true"></span>
          <a href="/Patients/Details/1" class="getDetails">Get Details</a>
        </div>

        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}
        <div class="form-group">
          <input id="btn" type="submit" value="Edit Appointment" />
        </div>
      </form>
    </div>
  </section>

  <div id="ex1" class="modal">
    <section id="ozel-sayfa" style="padding:0;margin-bottom:0">
      <div class="container" style="max-width:initial">
        <!-- role based olarak değişmeli -->
        <div class="kisisel-bilgiler" style="width:100%">
          <h3>Patient</h3>
          <ul>
            <li class="patientNameSurname"></li>
            <li class="patientBlood"></li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <script>
    $('.getDetails').click(function (event) {
      //linke click eventi kazandırma
      event.preventDefault()
      this.blur()
      $.get(this.href, function (html) {
        const patient = JSON.parse(html)
        $('li.patientNameSurname').html('<span>Name Surname:</span> ' + patient.Name + ' ' + patient.Surname)
        $('li.patientBlood').html('<span>Blood Group:</span> ' + patient.Blood_Group)
        $('#ex1').modal()
      })
    })
  </script>
{% endblock %}
