{% extends 'management_base.html' %}

{% load static %}
{% block title %}
  Edit Appointment
{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <section id="ozel-sayfa">
      <h2 style="margin-left: 13%;">Edit Appointment</h2>

      {{ form.non_field_errors }}
      <div class="container" style="display:block">
        <div class="kisisel-bilgiler" style="width:initial">
          {% for group in request.user.groups.all %}
            {% if group.name == 'Doctor' %}
              <div class="form-group">
                <label for="doktor-id">Patient:</label>
                <label for="Patient_One">{{ form.instance.PatientID.User.first_name }} {{ form.instance.PatientID.User.last_name }}</label>
                <a href="/Patients/Details/1" class="getDetails">Get Details</a>
              </div>
            {% else %}
              <div class="form-group">
                <label for="doctor-id">Doctor:</label>
                <label for="Doctor">{{ form.instance.DoctorID.User.first_name }} {{ form.instance.DoctorID.User.last_name }}</label>

                <a href="/Doctors/Details/{{ form.instance.DoctorID.ID }}" class="getDetails">Get Details</a>
              </div>
            {% endif %}
          {% endfor %}
          <input type="hidden" name="DoctorID" value="{{ form.instance.DoctorID.ID }}" id="id_DoctorID" />
          <input type="hidden" name="PatientID" value="{{ form.instance.PatientID.ID }}" id="id_PatientID" />
          <ul>
            {% for field in form %}
              {% if field.auto_id != 'id_DoctorID' and field.auto_id != 'id_PatientID' %}
                {% if field.field.widget.is_hidden %}
                  {{ field }}
                {% else %}
                  <li>
                    {{ field.errors }}
                    {{ field.label_tag }}

                    {{ field }}

                    {% if field.help_text %}
                      <p class="help" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</p>
                    {% endif %}
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
            <li>
              <button type="submit">Send</button>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </form>

  <div id="ex1" class="modal">
    <section id="ozel-sayfa" style="padding:0;margin-bottom:0">
      <div class="container" style="max-width:initial">
        {% for group in request.user.groups.all %}
          {% if group.name == 'Doctor' %}
            <div class="kisisel-bilgiler" style="width:100%">
              <h3>Patient</h3>
              <ul>
                <li class="patientNameSurname"></li>
                <li class="patientBlood"></li>
              </ul>
            </div>
          {% else %}
            <div class="kisisel-bilgiler" style="width:100%">
              <h3>Doctor</h3>
              <ul>
                <li class="doctorNameSurname"></li>
                <li class="doctorDept"></li>
              </ul>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>
  </div>

  {% for group in request.user.groups.all %}
    {% if group.name == 'Doctor' %}
      <script>
        $('.getDetails').click(function (event) {
          //doctor
          event.preventDefault()
          this.blur()
          $.get(this.href, function (html) {
            const patient = html[0]
            $('li.patientNameSurname').html('<span>Name Surname:</span> ' + patient.Name + ' ' + patient.Surname)
            $('li.patientBlood').html('<span>Blood Group:</span> ' + patient.Blood_Group)
            $('#ex1').modal()
          })
        })
      </script>
    {% else %}
      <script>
        $('.getDetails').click(function (event) {
          //doctor
          event.preventDefault()
          this.blur()
          $.get(this.href, function (html) {
            const doctor = html[0]
            $('li.doctorNameSurname').html('<span>Name Surname:</span> ' + doctor.Name + ' ' + doctor.Surname)
            $.get('/Departments/getDeptName/' + doctor.Department_id, function (department) {
              $('li.doctorDept').html('<span>Department:</span> ' + department)
              $('#ex1').modal()
            })
            $('#ex1').modal()
          })
        })
      </script>
    {% endif %}
  {% endfor %}
{% endblock %}
