{% extends 'management_base.html' %}

{% load static %}
{% block title %}
  Appointment
{% endblock %}
{% block content %}
  <section id="randevular">
    <div class="container">
      <h2 style="display:inline">Appointments</h2>
      {% for group in request.user.groups.all %}
        {% if group.name == 'Patient' %}
          <div class="addButton">
            <a class="addButtonInside" href="/Appointments/Create">Add Appointment</a>
          </div>
        {% endif %}
      {% endfor %}
      <div class="bosluk"></div>
      <ul class="responsive-table">
        {% if dataset.count == 0 %}
          <p>No record</p>
        {% else %}
          <li class="table-header">
            <div class="col col-1">Date/Time</div>
            {% for group in request.user.groups.all %}
              {% if group.name == 'Doctor' %}
                <div class="col col-3">Patient Name</div>
              {% else %}
                <div class="col col-3">Doctor Name</div>
              {% endif %}
            {% endfor %}
            <div class="col col-6">Actions</div>
          </li>

          {% for data in dataset %}
            <li class="table-row">
              <div class="col col-1" data-label="Date">{{ data.AppointmentDate }}</div>

              {% for group in request.user.groups.all %}
                {% if group.name == 'Patient' %}
                  <div class="col col-3" data-label="Doctor Name">{{ data.DoctorID.User.first_name }} {{ data.DoctorID.User.last_name }}</div>
                {% else %}
                  <div class="col col-3" data-label="Doctor Name">{{ data.PatientID.User.first_name }} {{ data.PatientID.User.last_name }}</div>
                {% endif %}
              {% endfor %}
              <div class="col col-6" data-label="Change Appointment Operation">
                <a href="/Appointments/Edit/{{ data.ID }}">Edit</a> |
                <a class="getDetails" href="/Appointments/Details/{{ data.ID }}/">Details</a> |
                <a class="deleteApp" href="/Appointments/Delete/{{ data.ID }}/">Delete</a>
              </div>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </section>

  <div id="ex1" class="modal" style="max-width:initial">
    <section id="ozel-sayfa" style="padding:0;margin-bottom:0">
      <div class="container" style="max-width:initial">
        <div class="hesap-bilgileri">
          <h3>Appointments</h3>
          <ul>
            <li class="dateApp"></li>
            <li class="descApp"></li>
          </ul>
        </div>
        {% for group in request.user.groups.all %}
          {% if group.name == 'Patient' %}
            <div class="kisisel-bilgiler">
              <h3>Doctor</h3>
              <ul>
                <li class="doctorNameSurname"></li>
                <li class="doctorDept"></li>
              </ul>
            </div>
          {% else %}
            <!-- doctor -->
            <div class="kisisel-bilgiler">
              <h3>Patient</h3>
              <ul>
                <li class="patientNameSurname"></li>
                <li class="patientBlood"></li>
              </ul>
            </div>
            <!-- !doctor -->
          {% endif %}
        {% endfor %}
      </div>
    </section>
  </div>
  <script>
    $('.deleteApp').click(function (event) {
      event.preventDefault()
      if (confirm('Do you sure delete this appointment')) {
        $.ajax({
          url: this.href,
          data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          type: 'POST',
          success: function (result) {
            location.reload()
          }
        })
      }
    })
  </script>

  {% for group in request.user.groups.all %}
    {% if group.name == 'Patient' %}
      <script>
        $('.getDetails').click(function (event) {
          //linke click eventi kazandırma
          event.preventDefault()
          this.blur()
          $.get(this.href, function (html) {
            const appointment = html[0] //json bilgisi gelir
            $('li.dateApp').html('<span>Date:</span> ' + new Date(appointment.AppointmentDate).toLocaleString())
            $('li.descApp').html('<span>Description:</span> ' + appointment.Description)
            $.get('/Doctors/Details/' + appointment.DoctorID_id, function (doctorJson) {
              const doctor = doctorJson[0]
              $('li.doctorNameSurname').html('<span>Name Surname:</span> ' + doctor.Name + ' ' + doctor.Surname)
              $.get('/Departments/getDeptName/' + doctor.Department_id, function (department) {
                $('li.doctorDept').html('<span>Department:</span> ' + department)
                $('#ex1').modal()
              })
            })
          })
        })
        //!hasta tarafı
      </script>
    {% else %}
      <script>
        //doktor
        $('.getDetails').click(function (event) {
          //linke click eventi kazandırma
          event.preventDefault()
          this.blur()
          $.get(this.href, function (html) {
            const appointment = html[0]
            //json bilgisi gelir
            $('li.dateApp').html('<span>Date:</span> ' + new Date(appointment.AppointmentDate).toLocaleString())
            $('li.descApp').html('<span>Description:</span> ' + appointment.Description)
            $.get('/Patients/Details/' + appointment.PatientID_id, function (patientJson) {
              const patient = patientJson[0]
              $('li.patientNameSurname').html('<span>Name Surname:</span> ' + patient.Name + ' ' + patient.Surname)
              $('li.patientBlood').html('<span>Blood Group:</span> ' + patient.Blood_Group)
              $('#ex1').modal()
            })
          })
        })
      </script>
    {% endif %}
  {% endfor %}
{% endblock %}
