{% extends 'management_base.html' %}

{% load static %}
{% block title %}
  Appointment
{% endblock %}
{% block content %}
  <section id="randevular">
    <div class="container">
      <h2 style="display:inline">Appointments</h2>
      <div class="addButton">
        <a class="addButtonInside" href="/Appointments/Create">Add Appointment</a>
      </div>
      <div class="bosluk"></div>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Date/Time</div>
          <div class="col col-3">Doctor Name</div>
          <div class="col col-6">Actions</div>
        </li>

        {% for data in dataset %}
          <li class="table-row">
            <div class="col col-1" data-label="Date">{{ data.AppointmentDate }}</div>
            <div class="col col-3" data-label="Doctor Name">{{ data.DoctorID.User.first_name }} {{ data.DoctorID.User.last_name }}</div>

            <div class="col col-6" data-label="Change Appointment Operation">
              <a href="/Appointments/Edit/{{ data.ID }}">Edit</a> |
              <a class="getDetails" href="/Appointments/Details/{{ data.ID }}/">Details</a> |
              <a class="deleteApp" href="/Appointments/Delete/{{ data.ID }}/">Delete</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <div id="ex1" class="modal" style="max-width:initial">
    <section id="ozel-sayfa" style="padding:0;margin-bottom:0">
      <div class="container" style="max-width:initial">
        <div class="hesap-bilgileri">
          <h3>Appointments</h3>
          <ul>
            <li class="dateApp"></li>
            <li class="descApp"></li>
          </ul>
        </div>
        <!-- role based olarak değişmeli -->
        <div class="kisisel-bilgiler">
          <h3>Doctor</h3>
          <ul>
            <li class="doctorNameSurname"></li>
            <li class="doctorDept"></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <script>
    $('.deleteApp').click(function (event) {
      event.preventDefault()
      if (confirm('Do you sure delete this appointment')) {
        $.ajax({
          url: this.href,
          data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          type: 'POST',
          success: function (result) {
            location.reload()
          }
        })
      }
    })
  </script>
  <script>
    //hasta tarafı
    $('.getDetails').click(function (event) {
      //linke click eventi kazandırma
      event.preventDefault()
      this.blur()
      $.get(this.href, function (html) {
        const appointment = JSON.parse(html) //json bilgisi gelir
        $('li.dateApp').html('<span>Date:</span> ' + new Date(appointment.AppointmentDate).toLocaleString())
        $('li.descApp').html('<span>Description:</span> ' + appointment.Description)
        $.get('/Doctors/Details/' + appointment.Doctor_ID, function (doctorJson) {
          const doctor = JSON.parse(doctorJson)
          $('li.doctorNameSurname').html('<span>Name Surname:</span> ' + doctor.Name + ' ' + doctor.Surname)
          $.get('/Departments/getDeptName/' + doctor.CurDeptartmentID, function (department) {
            $('li.doctorDept').html('<span>Department:</span> ' + department)
            $('#ex1').modal()
          })
        })
      })
    })
    //hasta tarafı
  </script>
{% endblock %}
