{% extends 'management_base.html' %}

{% load static %}
{% block title %}
  Appointment
{% endblock %}
{% block content %}
  <section id="randevu-al-container">
    <h2 class="container-header">Edit Bill</h2>
    <div class="randevu-al">
      <form method="post">
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}
        <div class="form-group">
          <input id="btn" type="submit" value="Edit" />
        </div>
      </form>
    </div>
  </section>
{% endblock %}
