{% extends 'management_base.html' %}

{% load static %}
{% block title %}
  Bill
{% endblock %}
{% block content %}
  <section id="doktor-yonetimi">
    <div class="container">
      <h2>Bills</h2>
      <ul class="responsive-table">
        {% if dataset.count == 0 %}
          <p>No record</p>
        {% else %}
          <div class="bosluk"></div>
          <li class="table-header">
            <div class="col col-1">Appointment Date</div>
            <div class="col col-1">Amount</div>
            <div class="col col-1">Is Paid?</div>
            <div class="col col-4">Actions</div>
          </li>
          {% for data in dataset %}
            <li class="table-row">
              <div class="col col-1" data-label="Job Id">{{ data.IssuedDate }}</div>
              <div class="col col-1">{{ data.Amount }}</div>
              <div class="col col-2" data-label="Operation">
                {% if data.IsPaid %}
                   Paid
                {% else %}
                  Not Paid
                {% endif %}
              </div>
              <div class="col col-3" data-label="Operation">
                {% for group in request.user.groups.all %}
                  {% if group.name == 'Accountant' %}
                    <a href="/Bills/Edit/{{ data.ID }}">Edit</a> | <a class="deleteBill" href="/Bills/Delete/{{ data.ID }}">Delete</a>
                  {% else %}
                    {% if data.IsPaid == 0 %}
                      <a class="payIt" href="/Bills/Payment/{{ data.ID }}/">Pay It!</a>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </section>
  {% for group in request.user.groups.all %}
    {% if group.name == 'Accountant' %}
      <script>
        $('.deleteBill').click(function (event) {
          //linke click eventi kazandırma
          event.preventDefault()
          if (confirm('Do you sure delete this bill')) {
            $.ajax({
              url: this.href,
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              type: 'POST',
              success: function (result) {
                location.reload()
              }
            })
          }
        })
      </script>
    {% endif %}
  {% endfor %}

  {% for group in request.user.groups.all %}
    {% if group.name == 'Patient' %}
      <script>
        $('.payIt').click(function (event) {
          //linke click eventi kazandırma
          event.preventDefault()
          if (confirm('Do you sure pay this bill')) {
            $.ajax({
              url: this.href,
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              type: 'POST',
              success: function (result) {
                location.reload()
              }
            })
          }
        })
      </script>
    {% endif %}
  {% endfor %}
{% endblock %}
